@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #10141e !important;
  font-family: "Almarai", sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  max-width: 1522px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (width> 1100px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 1rem;
  }
}

.video-js {
  width: 700px;
  height: auto;
}
