@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #10141e !important;
  font-family: "Almarai", sans-serif !important;
}

.grid-nav {
  display: grid;
  grid-template-columns: 5% 90%;
  gap: 5%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  max-width: 1522px;
  margin: 0 auto;
  padding: 0 2rem;
}

.video-js {
  width: 700px;
  height: auto;
}

.logo-main {
  display: flex;
  width: 90px;
}

.hehe {
  color: transparent;
}

.logo-container {
  position: relative;
}

.logo-link {
  position: fixed;
  text-decoration: none;
  color: White;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 3rem;
  transition: all 0.2s;
}

.w-100 {
  padding-right: 8vw;
  height: 45vh;
}

@media (width> 1100px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 1rem;
  }
}

@media (width< 1100px) {
  .grid-nav {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* gap: 5%; */
    gap: 0;
  }

  .logo-link {
    position: static;
    margin-top: 0.5rem;
    margin-left: 10%;
  }

  .logo-link span {
    margin-left: 10%;
  }

  .logo-main {
    margin-left: 10%;
  }

  .hehe {
    margin-top: -10%;
  }
}
