.slider {
  padding-top: 7rem;
  width: 100%;
  grid-row: 1;
  background-size: cover;
  background-position: center center;
  scroll-snap-align: center;
  height: 300px;
  border-radius: 20px;
  box-shadow: inset 0 0 13em 3em black;
}

.slider-container {
  margin: 0 3rem;
  width: 50%;
  justify-content: flex-end;
  min-height: 65px;
  display: flex;
  flex-direction: column;
}

.slider__title {
  overflow: hidden;
  max-height: 100px;
  white-space: normal;
  text-overflow: ellipsis;
  color: white;
  font-weight: 700;
}

.button-watch {
  /* margin-left: 10rem; Desktop */
  font-weight: 600 !important;
  position: absolute;
  top: 75%;
  background: rgb(99, 102, 241);
  box-shadow: 0px 4px 5px rgba(199, 210, 254, 0.7);
}

.play-icon {
  margin-left: 0.4rem;
  /* width: 6rem; */
}

.button-watch:hover {
  scale: 1.1;
  background: rgb(81, 83, 202);
}
