.bg {
  background-color: rgb(23, 30, 49);
  color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.bg:hover {
  background-color: rgba(23, 30, 49, 0.5);
}

.list-group {
  margin-top: 3rem;
  max-height: 620px !important;
  overflow-y: auto;
}

.episode-page {
  margin-top: 10rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(159, 181, 202, 0.5);
  background-color: rgba(23, 30, 49, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(23, 30, 49, 0.5);
}

.placeholder-anime-episodes {
  background-color: rgb(23, 30, 49);
  height: 620px;
}

.anime-info {
  background-color: #6366f1;
  border-radius: 24px;
  display: flex;
  justify-content: end;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

.anime-info__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.anime-poster {
  height: 25vh;
  border-radius: 10px;
}

.anime-genre {
  cursor: pointer;
  border: solid 1px white;
  border-radius: 20px;
  margin-left: 1rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

.anime-genre:hover {
  background-color: white;
  color: black;
}

.anime-info__title {
  direction: rtl;
  text-align: right;
  margin-right: 1rem;
}

.anime-genre-container {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.anime-info__story {
  width: 90%;
  direction: rtl;
  margin-right: 1rem;
  margin-top: 1rem;
}

.anime-info__col {
  text-align: end;
  justify-self: end;
}

.anime-info__grid {
  margin-right: 1rem;
  gap: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (width>1100px) {
  .anime-info {
    margin-top: 0rem;
  }
}
